<div class="toolbox">
<nav class="navbar navbar-light bg-light  d-flex flex-row">
      <input class="form-control" type="text" [(ngModel)]="queryString" placeholder="Search Course">
      <a class="btn btn-sm btn-outline-secondary" routerLink="/courses/new" routerLinkActive="router-link-active">Add Course</a>
    </nav>
</div>

<div *ngFor="let course of courses | filter: queryString : 'name' ; let i = index">
  <div class="course-item" [ngClass]="{'top-rated': isTopRated}">
    <div class="course-details">
      <p>
        <a href="">{{course.name | uppercase}} </a> <span *ngIf="isTopRated"> | <i class=" fa fa-star"></i></span>
      </p>
      <p class="course-time">{{course.length | duration}} <span>{{course.date}}</span></p>
      <button class="btn btn-sm btn-outline-secondary" (click)="updateCourse(course)">Edit</button>
    </div>

    <div class="course-description">
      <p>
        {{course.description}}
      </p>
      <button class="btn btn-sm btn-outline-secondary" (click)="deleteCourse(course)">Delete</button>
    </div>
  </div>
</div>


<button class="btn btn-outline-secondary load-more">Load More</button>

