<div class="toolbox">
  <nav class="navbar navbar-light bg-light  d-flex flex-row">
    <input class="form-control" type="text" #search placeholder="Search Course">
    <span>
        <a class="btn btn-sm btn-outline-secondary" (click)="sortCourses()">
                <i *ngIf="pageSort == 'desc'" class="fa fa-arrow-up" aria-hidden="true"></i>
                <i *ngIf="pageSort == 'asc'" class="fa fa-arrow-down" aria-hidden="true"></i>Sort by Date</a>
    <a class="btn btn-sm btn-outline-secondary" style="margin-left:8px" routerLink="/courses/new" routerLinkActive="router-link-active">Add
      Course</a>
    </span>
    
  </nav>
</div>

<div *ngFor="let course of courses$ | async; let i = index">
  <div borderColor [time]="course.date" class="course-item" [ngClass]="{'top-rated': isTopRated}">
    <div class="course-details">
      <p>
        <a href="">{{course?.name | uppercase}} </a> <span *ngIf="course.isTopRated">  <i class="fa fa-star"></i></span>
      </p>
      <p class="course-time">{{course?.length | duration}} <span>{{course?.date}}</span></p>
      <button class="btn btn-sm btn-outline-secondary" (click)="updateCourse(course)">Edit</button>
    </div>

    <div class="course-description">
      <p>
        {{course?.description}}
      </p>
      <button class="btn btn-sm btn-outline-secondary" (click)="deleteCourse(course)">Delete</button>
    </div>
  </div>
</div>


<button class="btn btn-outline-secondary load-more" (click)="loadMore()">Load More</button>
