<div class="course-item" [ngClass]="{'top-rated': course.toprated === true}" appCoursedate [creation_date]="course.creation_date">
  <div class="course-details">
    <p>
      <a href="">{{course.title | uppercase}} </a> <span *ngIf="course.toprated === true"> | <i class=" fa fa-star"></i></span>
    </p>
    <p class="course-time">{{course.duration | duration}}  <span>{{course.creation_date}}</span></p>
    <a class="btn btn-sm btn-outline-secondary" href="#">Edit</a>
  </div>

  <div class="course-description">
    <p>
      {{course.description}}  
    </p> 
    <button class="btn btn-sm btn-outline-secondary" (click) = "deleteCourse(course.id)">Delete</button>
  </div>
</div>  