<header class="py-3 header">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-6 pt-1">
        <a class="navbar-brand" routerLink="/courses">ANGULAR COURSE SYSTEM</a>
    </div>
    <div class="col-4" *ngIf="user">
            <strong>name:</strong> {{user?.name?.first}} {{user?.name?.last}} <strong>login:</strong> {{user?.login}}  
    </div>
    <div class="col-2 d-flex justify-content-end align-items-center">
        <a *ngIf="!user" class="btn btn-sm btn-outline-secondary" routerLink="/login">Log In</a>
        <a *ngIf="user" class="btn btn-sm btn-outline-secondary" (click)="logOut()">Log Out</a>
    </div>
  </div>
</header>