
<form [formGroup]="editForm" (ngSubmit)="onSubmit()">

   <label>Title: *Required</label>
   <input class="form-control" type="text" name="name" id="title" placeholder="Title" formControlName ="name">

   <label>Description: *Required</label>
   <textarea class="form-control" name="description" id="description" placeholder="Description" formControlName ="description"></textarea>


   <label>Date: *Required</label>
   <input class="form-control" type="text" name="date" id="creation_date" placeholder="mm/dd/yyyy" formControlName="date">

   <label>Duration: *Required</label>
   <input class="form-control" type="text" name="length" id="duration" placeholder="Duration in minutes" formControlName="length">

  <label>Top Rated: *Required</label>

    <div class="radio">
      <label>
        <input type="radio" name="isTopRated" formControlName="isTopRated" value='true' checked> Yes
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="isTopRated" formControlName="isTopRated" value='false'> No
      </label>
    </div>



  <button class="btn btn-success">UPDATE</button> 
  
</form>
